.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    
}

.dialogItems {
    padding: 10px;
    background-color: blue;
}

.dialogItems .active {
    color: gold;
}

.messages {
    padding: 10px;
    background-color: blue;
}

.messages .message {
    color: burlywood;
}
